/* Navigation */
#navbar{
    flex-direction: column;
    /* background-color: blanchedalmond; */
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}


.main_container{
    flex-direction: column;
    margin-top: 100px;

}
.container{
    margin-left: 0px;
    align-items: center;
}

.container .insert{
    width: 80%;
    height: 100%;




    /* padding-left: 10px; */
    padding: 0px; 
    margin: 0px 0px;
    margin-left: 10%;
    margin-top: 10%;


}

.side_container{
    /* margin-top: 30px; */
    width: 90%;
}

.container .box{
    /* width: 90%; */
    height: fit-content;
    width: inherit;
    /* margin-right: 50%; */


}
